/* Coolors Exported Palette - coolors.co/ba5026-e84f47-ffffff-c46d49-e0b2a0 */

/* HSL */
$color1: hsla(17%, 66%, 44%, 1);
$color2: hsla(3%, 78%, 59%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(18%, 51%, 53%, 1);
$color5: hsla(17%, 51%, 75%, 1);

/* RGB */
$color1: rgba(186, 80, 38, 1);
$color2: rgba(232, 79, 71, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(196, 109, 73, 1);
$color5: rgba(224, 178, 160, 1);